@import "tailwindcss";
/* @import "tailwindcss"; */
@plugin "daisyui"{
  themes: light --default, dark --prefersdark;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

a.active {
  color: #ff0000; 
  font-weight: bold;
  
}

